body {
  overflow: hidden;
  margin: 0%;
}
.canvas {
  margin: 0%;
  height: 100vh;
  width: 100vw;
  background-color: rgb(24, 24, 24);
}
.GameStatus {
  height: 10vh;
  width: 100vw;
  background-color: rgb(255, 49, 49);
  border-bottom: 1px solid white;
  border-top: 1px solid white;
}
.ScoreBoard {
  height: 60vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  background-color: rgb(0, 0, 0);
  border-bottom: 1px solid white;
}
.ControlPanel {
  height: 30vh;
  width: 100vw;
  background-color: rgb(26, 26, 26);
}

/* .GameStatus,
.ControlPanel,
.ScoreBoard {
  border: 1px solid white;
} */

/* GAME STATUS */
.GameStatus::after {
  content: "";
  display: table;
  clear: both;
}
#RedStatus {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  background-color: rgb(24, 24, 24);
}

#RedLifeBar {
  height: 6vh;
  border-radius: 10px;
  margin-left: 10px;
  width: 60%;
  background-color: rgb(255, 0, 0);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#RedLifeBar input {
  width: 100%;
  height: 100%;
  border: none;
  padding: 5px;
  font-size: 25px;
  box-sizing: border-box;
  font-weight: bolder;
  border-radius: 10px;
  background: transparent;
  color: white;
  text-align: center; /* Center align the text */
}
#BlueLifeBar {
  height: 6vh;
  border-radius: 10px;
  margin-right: 10px;
  width: 60%;
  background-color: rgb(0, 0, 255);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#BlueLifeBar input {
  width: 100%; /* Adjust as needed */
  height: 100%; /* Adjust as needed */
  border: none;
  padding: 5px;
  font-size: 25px;
  box-sizing: border-box;
  font-weight: bolder;
  border-radius: 10px;
  background: transparent;
  color: white;
  text-align: center; /* Center align the text */
}

.WinStat {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
  /* Add styles for RedWin if needed */
}
#RWinRed1 {
  height: 10vh;
  width: 10vh;
  /* border: 2px solid white; */
  border-radius: 50%;
  background-color: rgb(39, 39, 39);
}
#RWinRed2 {
  height: 10vh;
  width: 10vh;
  /* border: 2px solid white; */
  border-radius: 50%;
  background-color: rgb(39, 39, 39);
}
#RWinBlue1 {
  height: 10vh;
  width: 10vh;
  /* border: 2px solid white; */
  border-radius: 50%;
  background-color: rgb(39, 39, 39);
}
#RWinBlue2 {
  height: 10vh;
  width: 10vh;
  /* border: 2px solid white; */
  border-radius: 50%;
  background-color: rgb(39, 39, 39);
}

#BlueStatus {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  background-color: rgb(24, 24, 24);
}
#Round {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  background-color: rgb(31, 31, 31);
}

.RoundCount {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 80px;
  color: yellow;
  text-align: center;
}

/* SCORE BOARD*/
.column {
  float: left;
  width: 33.33%;
}
.ScoreBoard::after {
  content: "";
  display: table;
  clear: both;
}
.ScoreCountRedBG,
.ScoreCountBlueBG {
  width: 50%; /* Each container takes half of the space */
  height: 100%; /* Fill the parent container */
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  border: 1px solid white;
}

.ScoreCountRedBG {
  width: 40vh;
  background-color: rgb(24, 24, 24);
}

.ScoreCountBlueBG {
  width: 40vh;
  background-color: rgb(24, 24, 24);
}

#RedScoreVal,
#BlueScoreVal {
  margin: 0;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 400px;
}
#RedScoreVal {
  color: red;
}
#BlueScoreVal {
  color: blue;
}

/* TIMER */
#Timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60vh;
  background-color: rgb(255, 217, 0);
  position: relative; /* Ensure relative positioning for child elements */
}

.timeCount {
  font-size: 15vw; /* Using viewport width for responsive font size */
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  margin: auto; /* Adjust top and bottom margin as needed */
  z-index: 2; /* Ensure the timeCount is above the other elements */
  position: relative; /* Ensure relative positioning for stacking context */
}

.AvantageIndupper,
.AvantageIndlower {
  width: 10vw; /* Using viewport width for responsive width */
  border-left: 8vw solid transparent; /* Using viewport width for responsive width */
  border-right: 8vw solid transparent; /* Using viewport width for responsive width */
  position: absolute; /* Position these elements absolutely within Timer */
}

.AvantageIndupper {
  border-top: 11vh solid #131313; /* Using viewport height for responsive border thickness */
  top: 0; /* Position at the top */
}

.AvantageIndlower {
  border-bottom: 11vh solid #131313; /* Using viewport height for responsive border thickness */
  bottom: 0; /* Position at the bottom */
}

#BlueScore {
  height: 60vh;
  background-color: rgb(38, 0, 255);
}
/* RED SCORE CONTENT */
.column#RedScore {
  display: flex; /* Use flexbox */
  align-items: center; /* Align items vertically */
}
.ScoreCard {
  display: flex; /* Use flexbox */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  margin-top: 0;
  height: 60vh;
  width: 60vh;
  background-color: rgb(19, 19, 19);
}
.VioLation {
  display: flex;
  flex-direction: column;
  height: 60vh;
  width: 20vh;
  background-color: pink;
}
.Foul,
.Disarm {
  flex: 1; /* Equal distribution of space */
}

.Foul {
  background-color: rgb(24, 24, 24);
  /* border: 1px solid rgb(255, 255, 255); */
}

.Disarm {
  background-color: rgb(24, 24, 24);
  /* border: 1px solid rgb(255, 255, 255); */
}
/* BLUE SCORE CONTENT */
.column#BlueScore {
  display: flex; /* Use flexbox */
  align-items: center; /* Align items vertically */
}

/* Foul */
.FoulTitle {
  margin-top: 0%;
  height: 20px;
  width: 20vh;
  background-color: rgb(12, 12, 12);
  text-align: center;
  color: white;
  font: bolder;
  font-size: large;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
#FoulCountRed {
  color: #ff0000;
  margin: 0%;
  text-align: center;
  font-size: 100px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
#FoulCountBlue {
  color: #0011ff;
  margin: 0%;
  text-align: center;
  font-size: 100px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
/* Disarm */
.DisarmTitle {
  margin-top: 0%;
  height: 20px;
  width: 20vh;
  background-color: rgb(12, 12, 12);
  text-align: center;
  color: white;
  font: bolder;
  font-size: large;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.DisarmCount {
  margin: 0%;
  text-align: center;
  font-size: 100px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
#RedDisarmCount {
  color: #ff0000;
}
#BlueDisarmCount {
  color: #0011ff;
}
/* SCORE COUNT  */

/* CONTROL PANEL */
#RedControlls,
#BlueControlls {
  display: flex;
  flex-direction: column; /* Change flex direction to column */
  justify-content: space-evenly;
  align-items: center;
  height: 25vh;
  background-color: rgb(19, 19, 19);
}
#NavigationPannel {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 25vh;
}
.ScoreControl,
.FoulControl {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 10vh;
  width: 100%;
}
.ScoreBTN {
  height: 8vh;
  width: 8vh;
  border-radius: 100px;
  font-size: 20px;
  text-align: center;
  color: white;
  background-color: rgb(43, 42, 42);
  line-height: 4vh;
  transition: box-shadow 0.2s ease-in-out;
  transition-delay: 0.2s;
}
.ScoreBTN:hover {
  box-shadow: 0 0 10px 5px yellow;
}
#TimerControls {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 8vh;
  width: 100%;
  background-color: rgb(12, 12, 12);
}
/* ROUND ACTIVITY CONTROLS */
#RAControls {
  display: flex;
  align-items: center;
  margin-top: 5px;
  height: 12vh;
  width: 100%;
  background-color: rgb(24, 24, 24);
}
#RoundControls {
  height: 12vh;
  background-color: rgb(10, 10, 10);
}
#RoundWinControl {
  height: 12vh;
  background-color: rgb(15, 15, 15);
}
#Avantage {
  height: 12vh;
  background-color: rgb(10, 10, 10);
}
.RA_Titles {
  height: 25px;
  background-color: rgb(7, 7, 7);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 15px;
  color: white;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.RoundControlNavs {
  display: flex;
  justify-content: space-evenly; /* Center items horizontally */
}
.RctrlBTN {
  margin-top: 10px;
  height: 5vh;
  width: 5vh;
  border-radius: 100px;
  font-size: 20px;
  color: white;
  background-color: rgb(43, 42, 42);
  line-height: 1vh;
  font-size: 15px;
  transition: box-shadow 0.2s ease-in-out;
  transition-delay: 0.2s;
}
.RctrlBTN:hover {
  box-shadow: 0 0 10px 5px yellow;
}
/* RESET CONTROLS */
#ResetControls {
  margin-top: 5px;
  height: 8vh;
  width: 100%;
  background-color: rgb(20, 20, 20);
}
.ResetBTN {
  height: 6vh;
  width: 20vh;
  border-radius: 20px;
  font-size: 20px;
  color: white;
  background-color: rgb(43, 42, 42);
  line-height: 1vh;
  transition: box-shadow 0.2s ease-in-out;
  transition-delay: 0.2s;
}
.ResetBTN:hover {
  box-shadow: 0 0 5px 5px yellow;
}

/* Time Controls*/
.TimeBTN {
  height: 5vh;
  width: 5vh;
  border-radius: 100px;
  font-size: 20px;
  text-align: center;
  color: white;
  background-color: rgb(43, 42, 42);
  line-height: 4vh;
  text-align: center;
  transition: box-shadow 0.2s ease-in-out;
  transition-delay: 0.2s;
}
.TimeBTN:hover {
  box-shadow: 0 0 10px 5px yellow;
}
